@font-face {
    font-family: Merriweather;
    src: url(./assets/fonts/Merriweather-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Inter;
    src: url(./assets/fonts/Inter-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url(./assets/fonts/Inter-Bold.ttf);
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

body {
    
    margin: 0;
    width: 100%;
    font-family: 'Inter';

}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-container {
    display: flex;
    background-image: url(./assets/img/header-bg.jpg);
}
